@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif !important;
  padding: 0;
  margin: 0;
}

/* overring antd button styles */
button {
  border-radius: 0 !important;
  box-shadow: none !important;
  height: 40px !important;
}

input , textarea , select{
  min-height: 40px !important;
  border: 1px solid #6a6a6a !important;
  border-radius: 2px !important;
  width: 100% !important;
}

input:focus , textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

.ant-form-item {
  margin-bottom: 0 !important;
}

a:hover {
  text-decoration: underline !important;
  color: #6a6a6a;
}

i{
  font-size: 18px;
}

.ant-form-item-label {
  padding: 0 !important;
}

table {
  border: 1px solid #9f9f9f !important;
  border-radius: 2px !important;
}